.Cell {
    padding: 0.5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.Cell:last-child {
    border-right: 0;
}

/* Lets just hack this for now so that sticky rowheaders show selection too*/
.SelectedCell {
    background-color: lightgrey !important;
}

/* Feels a bit unintuitive place for this */
.StickyRowHeader {
    background-color: white;
    position: sticky;
    left: 0;
    z-index: 1;
}